
body{ 
    margin: 0%;
 }
 .part1{
    background-image: url(backgrounds/h_img.jpg);
    background-size: cover;
    /* background-repeat: no-repeat;  */
    text-align: center;
    padding: 16.8%;
    padding-left: 6.3cm;
    font-size: 17px;
    Based on your requirements, we can provide a complete offering or just the piece you need.
}
h1{
    color: white;
}
p{
    color: white;
}

.about-us{
    text-align: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.part2{
    background-image: url(backgrounds/s_image.jpg);
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;

}